body{
    background-color: cornsilk;

}





/* American Flag */
.red-line{
    background-color: red;
    height: 11px;
    width: 400px;
    margin-top: ;
}
.white-line{
    background-color: white;
    height: 11px;
    width: 400px;
}
.container{
    display: flex;
    margin-top: 100px;

}
.stars p{
    color: white;
    margin-left: 37px;
    font-size: 20px;
    
}
.stars{
    background-color: blue;
    margin-top: 25px;
    width: 200px;
    height: 184px;
   
}

.container-two{
    margin-top: -10px;
    

}
.container-two div {
    width: 600px;
}
/* :end */

/* Flag of panama */
.container_panama{
    right: 0;
    top: 0;
    width: 600px;
    height: 400px;
    margin-top: 80px;
    position: absolute;
    
        border: 1px solid gray;
}
.container_panama div{
    width: 300px;
    height: 200px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.container_panama #first_star{
    font-size: 100px;
    color: royalblue;
    position: relative;
    left: 0;
   
    top: 0;
}
.container_panama #red_star{
    font-size: 100px;
    color: red;
    right: 0;
    bottom: 0;
    position: relative;
   
    
}
.container_panama #second_part{
    background-color: red;
    position: relative;
    left: 0;
    bottom: 0;
}

.container_panama #third_part{
    background-color: darkblue;
    position: relative;
    right: 0;
    top: 0;
}

/* :end */

/* Flag of southAfrica */

.container-for-left-bottom{
    width: 400px;
    height: 200px;
    background: linear-gradient(150deg ,black 30%,yellow 30% 40%,green 40% 70%,white 70% 80%, blue 80% 110%);
}

.container-for-left-upper{
    width: 400px;
    height: 200px;
    background: linear-gradient(-330deg ,black 30%,yellow 30% 40%,green 40% 70%,white 70% 80%, rgb(240,50,50) 80% 110%);
}
.south-africa{
    display: flex;
    margin-top: 40px;
    flex-direction: column;
}

.main_south_africa{
   
    padding: 30px;
    display:flex;
    width: 80%;
    margin-left: 270px;

}
.right_part_south{
    background-color: red;
    height: 400px;
    width: 400px;
    
    margin-top: 39px;
}
.b1{
    height: 87px;
    background-color: rgb(240,50,50);
    border-bottom: 43px solid white;
}
.b2{
    height: 144px;
    background-color: green;
    border-bottom: 43px solid white;
}
.b3{
    height: 87px;
    background-color: blue;

}
/* :end */
/* Flag of Congo */

.Main_container_Congo div{
    background: linear-gradient(137deg , green 40%,yellow 40% 60%, red 40% 70%);
    height: 400px;
    width: 600px;
    margin-left: px;

}

.Main_container_Congo {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -700px;
}

/* :end */

/* Flag of sweden */
.container_sweden{
    background-color:rgb(60,60,170);
    width: 500px;
    height: 400px;
    margin-left: 400px;
    position: absolute;
    right: 0;
    margin-top: -430px;
    margin-right: 30px;

}
.container_sweden #vertical-line{
    width: 500px;
    height: 50px;
    background-color: yellow;
    margin-top: -250px;
    
}
.container_sweden #horizontal-line{
    width: 50px;
    height: 400px;
    background-color: yellow;
    margin-left: 150px;
   
}
/* :end */

/* Flag of  Greece */

.greece_container{
    width: 600px;
    height: 400px;
    position: absolute;
    margin-left: 400px;
    background-color: salmon;
    
    border: 1px solid gray;
}
.main_upper_part_greece{
    background-color: rebeccapurple;
    width: 600px;
    height: 210px;
    position: absolute;
}

.cross_container{
    width: 250px;
    height: 210px;
    background-color: white;
    position: absolute;
    left: 0;
}
.cross_container div{
    width: 100px;
    height: 85px;
    background-color:cornflowerblue;
    
}
.cross_container #top_cross{
    position: absolute;
    left: 0;
    
}
.cross_container #right_cross{
    position: absolute;
    right: 0;
  

}
.cross_container #left_cross{
    position: absolute;
    left: 0;
    bottom: 0;
}
.cross_container #bottom_cross{
    position: absolute;
    right: 0;
    bottom: 0;
}
#right_part{
   
    position: absolute;
    right: 0;
    

}
#right_part div{
        width: 350px;
        height: 42px;
}
 #blue_div{
    background-color: cornflowerblue;
}
 #white_div{
    background-color: white;

}
.main_bottom_part_grceece div{
        height: 42px;
        width: 600px;

}
.main_bottom_part_grceece {
    width: 600px;
    height: 190px;
    bottom: 0;
    position: absolute;
    background-color: white;
}

/* :end */

/* <!-- Flag of Norway --> */


.container_norway{
    border:1px solid gray;
    width: 600px;
    height: 400px;
    background-color: darkblue;
    position: absolute;
    left: 0;
    
  

}
#first_left_div{
    background-color: rgb(240,50,50);
    height: 150px;
    width: 150px;
    border-right: 30px solid white;
    position: absolute;
    left: 0;
    border-bottom: 30px solid white;


}
#second_right_div{
    background-color: rgb(240,50,50);
    height: 150px;
    width: 320px;
    border-left: 30px solid white;
    position: absolute;
    right: 0;
    border-bottom: 30px solid white;


}
#third_left_div{
    background-color: rgb(240,50,50);
    height: 150px;
    width: 150px;
    border-right: 30px solid white;
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: 30px solid white;

}

#fourth_right_div{
    background-color: rgb(240,50,50);
    height: 150px;
    width: 320px;
    border-left: 30px solid white;
    position: absolute;
    right: 0;
    bottom: 0;
    border-top: 30px solid white;


}
/* :end */

/* Flag of the United Arab Emirates */

.container_arab{
    border: 1px solid gray;
    width: 600px;
    height: 400px;
    position: absolute;
    background-color: rgb(60,60,170);
    
    margin-left: 700px;

}
.container_arab #sub-c div{
    height: 133px;
    width: 400px;

}

.container_arab #sub-c{
    position: relative;
    margin-top: -400px;
    margin-left: 200px;
}

.red_arab_co{
    height: 400px;
    width: 200px;
    background-color: red;
}
#one{
    background-color: green;
}
#two{
    background-color: white;
}
#three{
    background-color: black;
}
/* :end */


/* Flag of Switzerland */
.container_swiz{
    width: 400px;
    height: 400px;
    position: absolute;
    
    
    background-color: red;
}
#vertical{
    width: 100px;
    height: 300px;
    background-color: white;
    position: absolute;;
    left: 150px;
    top: 50px;

}
#horizontal{
    width: 300px;
    height: 100px;
    background-color: white;
    position: absolute;
    top: 150px;
    left: 50px;
}
/* :end */


/* Flag of chile */
.container_chile{
    border: 1px solid gray;
    width: 600px;
    height: 400px;
    background-color: greenyellow;
    margin-top: ;
    position: absolute;
    margin-left:700px;
  
}

.container_chile #star_container{
    background-color: darkblue;
    font-size: 140px;
    color: white;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
}
.container_chile #white_container{
    background-color: white;
    height: 200px;
    width: 400px;
    position: absolute;
    right: 0;
    top: 0;
}
.container_chile #red_container{
    background-color: rgb(240,50,50);
    position: absolute;
    width: 600px;
    height: 200px;
    bottom: 0;
}

/* :end */


/* Flag of Kuwait */



.left_part_kuwait{
    height: 100px;
     border-top: 100px solid transparent;
     border-bottom: 100px solid transparent;
     border-left: 70px solid black;
     width: 0;
     float: right;
     
     margin-left: 150px;
}
.right_part_kuwait{
 background-color: blanchedalmond;
 width: 400px;
 height: 300px;
 margin-left: 330px;
 
}
.right_part_kuwait #h{
     background-color: green;
     height: 100px;
     width: 400px;
}
.right_part_kuwait #h2{
 background-color: white;
 height: 100px;
 width: 400px;
}
.right_part_kuwait #h3{
 background-color: rgb(240,50,50);
 height: 100px;
 width: 400px;
}
.container_kuwait{
 padding-left: 200px;
 margin-left: 200px;
}
/* end */

/* flag of somalia */

.container_somalia{
    height: 400px;
    width: 400px;
    background-color:lightblue;
    margin-left: 300px;
  
}
.container_somalia div {
    font-size: 200px;
    color: white;
    position: relative;
    top: 100px;
    left: 150px;
}

/* end */